<!-- Página de Início -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Zero CNC Services</title>

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css"> <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Header - Cabeçalho -->
    <header>
        <div id="header" class="container">
            <nav class="linksInitial">
                <ul>
                    <li><a href="/">Início</a></li> 
                    <li><a href="/services">Serviços</a></li> 
                    <li><img src="/img/logoImage.png" alt="Logo" class="logo"/><a href="#header"></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/contact">Contato</a></li> 
                </ul>
            </nav>
        </div>
        
        <div class="logoMobile"><a href="#" class="logoMobile">
            <img src="/img/logoImage.png" alt="Logo">
          </a>
        </div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
        
            <ul class="nav-bar menu">
                <li><a href="/"><i class="fa-solid fa-house"></i> Início</a></li>
                <li><i class="fa-solid fa-wrench"></i><a href="/services">Serviços</a></li>
                <li><i class="fa-solid fa-book"></i><a href="/about">Sobre Nós</a></li>
                <li><i class="fa-solid fa-message"></i><a href="/contact">Fale Conosco</a></li>
        
                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
            </ul>
        </nav>
    </header>

    <!-- Seção Hero -->
    <section class="hero">
        <div class="backgroundImage">
            <!-- Imagem de fundo do Hero -->
            <img class="heroBackground" src="/img/background1.jpg" alt="Imagem de fundo">
        </div>

        <div class="heroContent">
            <!-- Texto principal e slogan -->
            <h1>PONTO ZERO CNC SERVICES</h1>
            <p class="slogan">Excelência em manutenção de precisão para a indústria.</p>

            <!-- Botão que redireciona para a página de serviços -->
            <a href="/services" class="btnHero">Conheça nossos serviços →</a>

            <!-- Distintivos de destaque -->
            <div class="badges">
                <div class="badge">✔️ 10+ anos de experiência</div>
                <div class="badge">✔️ Reforma de máquinas e equipamentos</div>
                <div class="badge">✔️ Rasqueteamento para geometria de alta precisão</div>
                <div class="badge">✔️ Especialistas em sistemas hidráulicos e pneumáticos</div>
                <div class="badge">✔️ Especialistas em manutenção foco no SIX SIGMA</div>
                <div class="badge">✔️ Execução de BALLBAR para criação de Parâmetros base</div>
            </div>
        </div>

        <!-- Botão flutuante de WhatsApp -->
        <a href="https://wa.me/5511952317638" target="_blank" class="btnContact">
            <img src="/img/whatsImage.png" alt="WhatsApp">
        </a>
    </section>

    <!-- Footer - Rodapé -->
    <footer>
        <hr><br>
        <div class="container">
            <!-- Informações do rodapé -->
            <p>&copy; 2025 Ponto Zero CNC Services. Todos os direitos reservados.</p>
        </div>
        <br>
    </footer>

    <script src="/script/script.js"></script>
</body>

</html>